<p>
  <label for="settings_notification_days_before"><%= l(:label_notification_days_before) %></label>
  <%= text_field_tag 'settings[notification_days_before]', @settings['notification_days_before'], size: 3 %>
</p>

<p>
  <label for="settings_enable_email_notifications"><%= l(:label_enable_email_notifications) %></label>
  <%= check_box_tag 'settings[enable_email_notifications]', '1', @settings['enable_email_notifications'] == '1' %>
</p>

<p>
  <label for="settings_enable_discord_notifications"><%= l(:label_enable_discord_notifications) %></label>
  <%= check_box_tag 'settings[enable_discord_notifications]', '1', @settings['enable_discord_notifications'] == '1' %>
</p>

<p>
  <label for="settings_discord_webhook_url"><%= l(:label_discord_webhook_url) %></label>
  <%= text_field_tag 'settings[discord_webhook_url]', @settings['discord_webhook_url'], size: 60 %>
  <em class="info"><%= l(:text_discord_webhook_info) %></em>
</p> 